body{
    background-color:#F1C67C;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("Fuentes/HelveticaNeue Light.ttf");
}

@font-face {
    font-family: "HelveticaNeue2";
    src: url("Fuentes/Helvetica Neu Bold.ttf");
}

*{
    font-family:"HelveticaNeue";
    margin:0;
    padding:0;
}

main{
    margin-top:3%;
}

header{
    background-color:black;
    color:white;
    font-size:30px;
    text-align:center;
}

button{
    background-color:black;
    color:white;
    padding:2px;
    margin-right:100px;
    border-radius:20px;
    font-weight:bold;
    border:0;
}

h2{
    font-family: "HelveticaNeue2";
}

div{
    margin-left: 6%;
    margin-bottom: 3%;
}
footer{
    background-color:black;
    color:white;
    bottom:0px;
    width:100%;
    padding-top:1%;
}