@font-face {
  font-family: "HelveticaNeue";
  src: url("Fuentes/HelveticaNeue Light.ttf");
}

*
{
	font-family:"HelveticaNeue";
	margin:0;
	padding:0;
}

#borde{
	width:65%;
	border:1px solid black;
	margin-right: 40px;
}

.col-xl{
	float: left;
	margin-right: 35px;
}

header
{
	background-color:black;
	color:white;
	font-size:30px;
	text-align:center;
}

main
{
	margin-top:6%;
}


button
{
	background-color:black;
	color:white;
	padding:2px;
	width:70%;
	border-radius:10px;
	font-weight:bold;
}

#volver
{
	margin-top:6%;
}

#botonvolver
{
	width:10%;
	margin:auto;
}

footer
{
	background-color:black;
	color:white;
	text-align:right;
	position:absolute;
	bottom:0px;
	width:100%;
	height:5%;
	padding-top:1%;
}