@font-face {
  font-family: "HelveticaNeue";
  src: url("Fuentes/HelveticaNeue Light.ttf");
}

*
{
	font-family:"HelveticaNeue";
	margin:0;
	padding:0;
	font-size:1.0rem;
}


body
{
	background-color:#F1C67C;
}

header
{
	background-color:black;
	color:white;
	font-size:30px;
	text-align:center;
}

main
{
	margin-top:6%;
}

form
{
	margin:0 auto;
	background-color:#F1C67C;
	text-align:center;
	padding:2%;
	border: 10px solid black;
}
form *
{
	margin-bottom:1%;
}
input
{
	margin-bottom:5%;
}

button
{
	background-color:black;
	color:white;
	padding:2px;
	width:70%;
	border-radius:20px;
	font-weight:bold;
	border:0;
}

#volver
{
	margin-top:4%;
}

#botonvolver
{
	width:30%;
	margin:auto;
	padding:2px;
}

footer
{
	background-color:black;
	color:white;
	position:absolute;
	bottom:0px;
	width:100%;
	padding-top:1%;
}